<ng-container>
  <app-header />
  <div class="count-cards mat-responsive-table">

    <mat-card
  class="count-card lost"
  [class.selected]="selectedType === 'LOST'"
  (click)="onTypeChange('LOST')"
>
  <div>Lost Items</div>
  <div class="count">{{ lostCount }}</div>
</mat-card>

<mat-card
  class="count-card found"
  [class.selected]="selectedType === 'FOUND'"
  (click)="onTypeChange('FOUND')"
>
  <div>Found Items</div>
  <div class="count">{{ foundCount }}</div>
</mat-card>

<mat-card
  class="count-card free"
  [class.selected]="selectedType === 'FREE'"
  (click)="onTypeChange('FREE')"
>
  <div>Free Items</div>
  <div class="count">{{ freeCount }}</div>
</mat-card>

  </div>
</ng-container>
<app-tabledesign2
  [displayedColumns]="displayedColumns"
  [dataSource]="items"
  [totalItems]="totalItems"
  [pageSize]="pageSize"
  [Loading]="loading"
  (filterSelected)="onTypeChange($event)"
  [filterOptions]="myFilterOptions"
  [columnHeaders]="columnHeaders"
  (page)="onPageChange($event)" 
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [totalItems]="totalItems"
  [selectedFilter]="selectedType"
  (pageChange)="onPageChange($event)"
>
</app-tabledesign2>