<app-header />
<div class="count-cards mat-responsive-table">

  <mat-card class="count-card lost" (click)="onTypeChange('LOST')">
    <div>Lost Items</div>
    <div class="count">{{ lostCount }}</div>
  </mat-card>

  <mat-card class="count-card found" (click)="onTypeChange('FOUND')">
    <div>Found Items</div>
    <div class="count">{{ foundCount }}</div>
  </mat-card>

  <mat-card class="count-card free" (click)="onTypeChange('FREE')">
    <div>Free Items</div>
    <div class="count">{{ freeCount }}</div>
  </mat-card>

</div>

<app-data-table
  [displayedColumns]="displayedColumns"
  [dataSource]="filteredItems"
  [searchText]="searchText"
  [totalItems]="totalItems"
  [pageSize]="pageSize"
  (searchChanged)="onSearchChange($event)"
  (filterSelected)="onTypeChange($event)"
  (pageChanged)="onPageChange($event)">
</app-data-table>
