<app-header/>
<div class="role-container">
  <div class="role-list">
    <h3>Roles</h3>
    <button mat-raised-button color="primary" (click)="createRole()">Create Role</button>
    <mat-nav-list>
      <mat-list-item *ngFor="let role of roles; index as i" (click)="selectRole(i)" [class.selected]="selectedRoleIndex === i">
        {{ role.title }}
        <button mat-icon-button color="warn" (click)="deleteRole(i); $event.stopPropagation()">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
    <div class="save-button-container" *ngIf="roles.length > 0">
  <button mat-raised-button color="accent" (click)="saveRoles()">Save Changes</button>
</div>

  </div>

  <div class="role-details" *ngIf="selectedRoleIndex !== null">
    <h3>Permissions for {{ roles[selectedRoleIndex].title }}</h3>
    <div *ngFor="let section of getAuthItemsKeys(roles[selectedRoleIndex].auth_items)">
      <h4>{{ section }}</h4>
      <div *ngFor="let perm of getPermissionKeys(roles[selectedRoleIndex].auth_items[section])" class="permission-item">
        <mat-checkbox [(ngModel)]="roles[selectedRoleIndex].auth_items[section][perm]">{{ perm }}</mat-checkbox>
      </div>
    </div>
  </div>
</div>
